{{> header}}

<main>
    <button id="save" onclick="downloadPDF()" class="no-print">
      Save as PDF
    </button>
    <div class="box">
    <div class="canvas" id="canvas"></div>
     <ul class="sidepanel planner-list">
      {{#each inventoryData as |item|}}
        {{#if item.name}}
          <li>
            <label for="{{item.name}}" class="planner-list__title">{{item.name}}</label>
            <div class="planner-add">
              <button onclick="addObject('{{item.name}}', '{{item.width}}', '{{item.length}}', true)" name="{{item.name}}" class="button--add">toevoegen</button>
              <div class="rotate-check">
                <label for="{{item.name}}">⟳</label>
                <input type="checkbox" name="{{item.name}}" id="{{item.name}}">
              </div>
            </div>
          </li>
        {{/if}}
      {{/each}}
    </ul> 
    </div>

    {{> footer}}
    
    
    <script>window.inventory = {{{jsData}}}</script>
    <script src="https://cdn.jsdelivr.net/npm/pixi.js@7.x/dist/pixi.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"
      integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/"
      crossorigin="anonymous"
    ></script>
    <script src="scripts/pixi.js"></script>
</main>