<section class='inventory'>
  {{#each inventoryData}}
  <div class='inventory_item'>
    <img class='item__image' src='images/{{image}}' alt='foto van item' />

    <data>{{name}}</data>
    <data>{{count}}</da>
    <data class='infobox--size'>{{width}}m x {{length}}m</data>
  </div>{{/each}}
</section>